<div style="text-align: center;">
<h1>
  Bienvenido a {{title}}
</h1><br>
<hr style="background-color: chartreuse;"><br>
<img [src]="'assets/img/ositos.jpg'" width="200" height="200">
</div><br>
<div class="container">
  <button (click)="Nuevo()" class="btn btn-danger" style="margin-left: 10px;">Nuevo</button>
  <button (click)="Listar()" class="btn btn-info" style="margin-left: 10px;">Listar</button>
  <button (click)="Editar()" class="btn btn-success" style="margin-left: 10px;">Editar</button>
  <button (click)="Eliminar()" class="btn btn-primary" style="margin-left: 10px;">Eliminar</button>

</div>
<hr>


<router-outlet></router-outlet>
